body {
  background-color: #e4d879;

}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form{
  text-align: center;
}

.form-group {
  margin-bottom: 5px;
  
}
